@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap");

body::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Inconsolata", monospace;
}



.ql-editor {
  color: black;
  display: flex !important;
  gap: 10px !important;
  flex-direction: column;
  padding: 5% 25% !important;
  font-size: 16px !important;
  font-family: "Inconsolata", monospace !important;
}
@media only screen and (max-width: 600px) {
  .ql-editor {
    padding: 5% !important;
  }
}

.ql-editor h1 {
  font-size: 2rem;
}

.ql-editor h2 {
  font-size: 1.5rem;
}

.ql-toolbar {
  border: none;
}